<h3>Contact Info</h3>

<address>
  <p>{{ .Site.Data.addresses.saashup.address }}<br />
    {{ .Site.Data.addresses.saashup.zip_code }} {{ .Site.Data.addresses.saashup.city }}, {{
    .Site.Data.addresses.saashup.country }}</p>

  <a href="mailto:{{ .Site.Data.addresses.saashup.email }}">{{ .Site.Data.addresses.saashup.email }}</a><br />
  <a href="tel:{{ .Site.Data.addresses.saashup.tel }}">{{ .Site.Data.addresses.saashup.tel }}</a>
</address>

<h3>Sitemap</h3>
{{ partial "menu.html" (dict "menuID" "footer" "page" .) }}

<h3>Social Media</h3>

<ul>
{{- range .Site.Data.social_media }}
  <li><a href="{{ .url }}">{{ .name }}</a></li>
{{ end }}
</ul>

<h3>About</h3>

<p>Parcours, joue et decouvre le monde</p>

<p>© Copyright {{ now.Year }}. All Rights Reserved by <a href="https://saashup.com">SaasHup</a>.</p>
